.body{
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.advertisement{
    height: 600px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1.5px solid beige;
}

.title{
    grid-column: 1/ span 4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 25, 61);
    text-align: center;
    background-color: rgb(252, 252, 252);
}

.title > h2{
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.weather{
    grid-column: 1/ span 2;
    grid-row: 2 / span 1;
    text-align: center;
    background-color: rgb(252, 252, 252);
}

.weather > p{
    color: rgb(6, 25, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather > canvas{
    height: 100px;
    width: 100px;
}

.background{
    grid-column: 1/ span 4;
    grid-row: 3 / span 4;
    background: url("../images/lounge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.qrCode{
    grid-column: 3/ span 4;
    grid-row: 2 / span 1;
    background-color: rgb(252, 252, 252);
    text-align: center;
}